.gallery {
  &::after {
    clear: both;
    content: " ";
    display: block;
  }

  .navigation {
    margin-bottom: 15px;
  }

  .img-container {
    float: left;
  }

  .images img {
    max-height: 75px;
    max-width: 75px;
    margin: 0xp;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px white solid;
    &:hover {
      border: 2px gray solid;
    }
  }

  img.selected {
    border: 2px red solid;
    &:hover {
      border: 2px red solid;
    }
  }
}
