#carbonads
  %span
    %span.carbon-wrap
      %a.carbon-img{target: "_blank", href: url}
        %img{style: 'max-width: 130px;', src: img_url}
      %a.carbon-text{target: "_blank", href: url}
        = title
      %a.carbon-poweredby{target: "_blank", href: url}
        Course recommended by Leigh